body{line-height:180%}
img,img.image-left,img.image-right,.captioned img{border:0}
#payoff{float:right;font-size:14pt;font-weight:700;font-family:"Arial Bold",Arial,Helvetica,sans-serif;position:absolute;right:1em;bottom:25px;color:#054187}
#logo{font-size:300%;font-family:Arial,Helvetica,sans-serif;padding:1em}
#logo a{display:block;width:100%}
@media all and (max-width:940px){#payoff{position:relative}
}
.state-published{color:#000!important}
#sections-wrapper{color:#fff}
.section-welkom #content div.row:nth-child(2){background:#054187;color:#fff;margin-left:-16px;width:105.7%}
.section-welkom #content div.row:nth-child(2) h2{color:#fff}
.section-welkom #content div.row:nth-child(2) a,a:link{color:#fff}
#LSResult h2{color:#054187}
#LSResult a,a:link{color:#054187}
div.position-1\:4{margin-left:-74.875%}
#portal-column-content{padding-left:1em;padding-right:1em}
#nav{font-size:1.3em;background-color:#000;font-weight:700}
#nav a:hover,#nav li.selected a{background-color:transparent;color:#5acd82}
#portal-breadcrumbs{display:none}
.documentActions{font-size:130%;float:right;height:46px;margin:.5em 1em 0 1.5em}
.documentActions ul{height:46px}
.documentActions ul li i{margin-top:3px;padding:0}
.documentActions a{color:#000}
.icon-white{color:#fff}
div.searchSection{display:none}
div#portal-searchbox{height:46px;clear:none;margin:-.6em 3em 0 0;color:#000;font-size:1em}
#portal-searchbox #searchGadget{padding:0 10px 0 0;margin:0;width:60%}
.searchButton{margin-top:.2em}
.LSBox{height:46px;width:150px;font-size:143%}
div.LSBox input#searchGadget{border-radius:0}
.portlet{border-bottom:2px dashed #054187;padding-bottom:1em}
dl.portlet dt{border-bottom:none;color:#000;background-color:#fff;font-size:130%;padding:0 .42em}
dl.portlet dt a,dl.portlet dt a:hover,dl.portlet dt a:link{color:#000;background-color:#fff}
.portlet dd{border-left:none;border-right:none}
dl.portlet{font-size:90%}
dl.portlet dd.portletFooter{background-color:#fff;color:#000}
dl.portlet dd.portletFooter a,dl.portlet dd.portletFooter a:hover,dl.portlet dd.portletFooter a:link{border-bottom:none;color:#000}
dl.portlet li:last-child{margin-bottom:0}
.portletRelatedItems .relatedDiscription{margin-top:.5em}
.portletRelatedItems img{float:right;padding-left:.5em;padding-bottom:.5em}
#content{margin:-1em .25em 2em}
#content img.tileImage,div.newsImageContainer{margin:0 0 .5em}
#content .documentDescription{font:700 14px Arial,Helvetica,sans-serif;color:#000;margin-bottom:1em}
#content h1.documentFirstHeading{font-size:246.2%}
#content h1.documentFirstHeading,#content h1{line-height:120%;font-weight:700;letter-spacing:0;font-family:Arial,Helvetica,sans-serif;color:#054187}
#content h1{font-size:170%}
#content h2{font-size:1.5em;line-height:1.1em;color:#054187}
#content h2,#content h3{font-weight:700;letter-spacing:0;font-family:Arial,Helvetica,sans-serif}
#content h3{font-size:108%;line-height:110%;color:#000}
#content h1 a:link,#content h1 a:visited{font-weight:700;letter-spacing:0;font-family:Arial,Helvetica,sans-serif;color:#000;border-bottom:none}
#category{color:#666;font-size:75%;margin-bottom:1em;text-align:right}
#category a.link-category,span.selectedTag{background:0 0;border-radius:0;color:#000;padding:.25em 0 .1em;border-bottom:.1em solid #054187;line-height:1.6em}
#category a.link-category:hover{background:0 0;border-color:none;color:#666!important}
#category .separator{display:none}
#content h2>a:link,#content h2>a:visited{font-weight:700;color:#054187;text-decoration:none}
#content h3>a:link{font-weight:400}
#content a:link,dl.portlet a:link{font-weight:700;color:#000}
#content a:visited,dl.portlet a:visited{border-bottom:.1em solid #000;font-weight:700;color:#000}
#content a:hover,dl.portlet a:hover,#content h2>a:hover{color:#5acd82}
#content div.newsImageContainer p.discreet{background-color:transparent;color:#5ACD82;font-weight:700;margin:0;padding:.4em;position:relative;top:-2em;width:290px}
#content .tileItem{padding-top:1em;border-top:2px dashed #054187}
#content .tile{margin-bottom:30px;padding-right:5px;padding-left:0}
#content .tile img{float:left;margin-right:25px;margin-bottom:5px}
#content p.tileBody{margin-bottom:0}
#content p.tileFooter{padding-bottom:3em}
#e67cd60a9dbf43eba1369758d9c813e5{border:none}
#fg-base-edit{padding-right:.5em}
#fg-base-edit input[type=text]{display:block;max-width:100%;padding-right:.5em}
#relatedItemBox dt{font-size:150%;color:#000;margin-bottom:.5em}
#relatedItemBox dd a{color:#000!important}
#doormat-wrapper{font-size:110%;line-height:2em}
#doormat #c-doormat-sitemap dl{color:#A7BCCC;width:17%;min-width:215px}
#doormat #c-doormat-sitemap dt{color:#fff;font-family:Arial,Helvetica,sans-serif;font-weight:700}
p{line-height:1.6em;margin:0 0 1em}
.biggallery .galleria-thumbnails-container{display:none}
.biggallery .galleria-info-description{font:italic 12px/1.4 arial,sans-serif;margin:0;color:#054187}
.biggallery .galleria-inner{height:786px;width:100%}
.biggallery .galleria-info{background-color:rgba(215,215,215,.85)}
#LSResult{background:0 0 #fff;margin:1em 0 0 -7em;position:absolute;right:0}
#LSResult fieldset{border:.1em solid #ccc;padding:1em 0 0}
#livesearchLegend{background-color:#ccc;padding:.3em}
#LSResult .LSDescr{color:#666;font-size:85%}
.LSRow,#LSNothingFound{display:block;padding:.5em 1em;white-space:normal;width:28em}
#edit-bar{min-height:3em}
