*{margin:0;padding:0;vertical-align:baseline}
body{background:#5acd82;background:-moz-linear-gradient(top,#5acd82 0%,#58cf83 68%,#7dcdb4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5acd82),color-stop(68%,#58cf83),color-stop(100%,#7dcdb4));background:-webkit-linear-gradient(top,#5acd82 0%,#58cf83 68%,#7dcdb4 100%);background:-o-linear-gradient(top,#5acd82 0%,#58cf83 68%,#7dcdb4 100%);background:-ms-linear-gradient(top,#5acd82 0%,#58cf83 68%,#7dcdb4 100%);background:linear-gradient(to bottom,#5acd82 0%,#58cf83 68%,#7dcdb4 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5acd82', endColorstr='#7dcdb4',GradientType=0 );color:#000;font-family:Arial,Helvetica,sans-serif;font-size:.95em}
a:link,a:visited,#content a:link,dl.portlet a:link{color:#054187}
a:hover{color:#000}
h1,h2,h3,h4,h5,h6{font-family:Arial,Helvetica,sans-serif;color:#054187}
.wrapper{width:auto;margin:0 auto;max-width:1170px}
#main{background:#fff;font-size:11pt;padding:1em 0 0}
#nav{background:#054187;text-align:left}
#nav,#nav a{color:#fff}
#nav a:hover,#nav li.selected a{padding-top:1em;background:0 0}
#portal-searchbox #searchGadget{border-width:0}
#portal-searchbox .searchButton{background:0 0;color:#fff;border-width:0;margin:10px 0 0 10px;font-size:1.5em}
#doormat{background-color:#000;color:#fff;font-size:130%;clear:left;padding:2em}
#doormat a:link{color:#fff}
#doormat a:hover{color:#fff;text-decoration:underline}
#doormat a:visited{color:#fff}
#content{font-size:.95em}
p{line-height:1.8em;margin:0 0 1em}
h1,h2,h3{margin:.5em 0}
.hidden{display:none}
.clear{clear:both}
.pb-ajax,.pb-image,.overlay iframe{font-size:1.3em}
div.overlay-iframe,div.overlay-ajax{left:11%!important;width:75%}
.portlet img,#content img{max-width:100%}
#header{background-size:100% auto;position:relative;background-color:#fff}
#logo{padding-bottom:10px;float:left}
#logo img{max-width:100%}
#logo a{display:block;width:100%}
#portal-personaltools{font-size:1.1em}
#nav{padding:.6em 1em .6em .3em}
#nav ul{padding-top:0}
#nav li{display:inline}
#nav a{padding:1.1em 1.1em 1em .8em;text-decoration:none}
#searchbt,#nav #seletor{display:none}
#portal-searchbox{float:right;margin:3.5% 1% 0 0;font-size:1em}
#portal-searchbox #searchGadget{padding:1.2% 0 1.1%;margin-right:.6%;text-indent:2%;width:72%}
#portal-searchbox .searchButton{text-align:center}
#LSResult{z-index:1;margin-top:.5%;color:#000}
#portal-siteactions{font-size:100%;text-align:left;display:inline}

@media screen and (max-width:768px){#payoff{bottom:0!important;font-size:125%!important}
.wrapper{max-width:100%}
#logo{min-width:174px}
#portal-column-one,#portal-column-two,#portal-column-content{clear:both;width:97.75%;margin-left:-98.875%}
#portal-searchbox{display:none}
#nav{padding:0;width:100%}
#searchbt{display:block;float:right;width:14%}
#searchbt a{display:block;text-indent:-900000px;padding:1em;margin-top:4%;background:url(search-ico.png) no-repeat center center}
#nav #seletor{display:block;padding:1em;width:80%;background:url("sections-ico.png") no-repeat 97% 60%}
#nav li{display:none}
#nav:hover li{display:block;width:100%;border-top:1px solid #fff;display:block!important;padding:0}
#nav ul{width:97.5%;margin:0;padding:0}
#nav:hover li a{color:#fff;padding:0 2.5%;line-height:3em;display:block;width:95%!important}
#nav:hover li:hover{background:#f90}
#nav:hover li a:hover,#nav:hover li.selected a{background:0 0}
.overlay.overlay-ajax{top:10px!important}
.overlay.overlay-ajax input.searchPage{font-size:200%!important;width:90%;margin-bottom:1em}
.overlay.overlay-ajax input.searchPage.searchButton{width:auto}
.overlay.overlay-ajax #searchform .discreet{text-align:left}
.overlay.overlay-ajax #content-core strong{display:none}
}
@media screen and (max-width:480px){#payoff,#portal-breadcrumbs{display:none}
#portal-searchbox{float:none;width:80%;clear:both;margin:0 auto 2%}
}
